<div id="main-output-container">
  <div class="forStyling" id="input_container">
    <p> Input: <%= @input %></p>
  </div>

  <div class="forStyling" id="output_container">
    <p> Output: <%= @answer %></p>
  </div>

  <div id="link_container">
    <p><%= link_to "ASK ANOTHER QUESTION!", questions_path %></p>
  </div>
</div>